* {
    box-sizing: border-box;
  }

body {
    height: 100vh;
    margin: 0;
    font-family:'Times New Roman', sans-serif;
    display: grid;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5vh;
    background-color: darkgrey;
}

h1 {
    font-size: 5vmin;
    color: black;
    align-content: center;
    grid-column: 2;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 5vmin);
    grid-template-rows: repeat(11, 5vmin);
    gap: 1vh;
    border: 10vmin;
    background-color: darkcyan;
    justify-content: center;
    grid-column: 2;
}

.board > div {
    display: grid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;        
    background-color: white;
}

.buttons > #first {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

.buttons > #second {
    display: grid;
    grid-column: 1;
    grid-row: 2;
}
 
/*
head > h1 {
    display: grid;
    align-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
} */

#markers {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background-color: darkblue;
    grid-template-columns: repeat(3, 5vmin);
    grid-template-rows: repeat(2, 5vmin);
    justify-content: center;
    align-content: center;
  
}

#markers > div {
    display: grid;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    gap: 1vh;
    border: 10vmin;
}
.results {
    display: grid;
    grid-column: 3;
    background-color: cyan;
}
.results > div {
    display: grid;
    border-radius: 50%;
    border-left: -5vh;
}